################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBase/.vs
/.vs
/CodeBase/Codebase.Web.Host/obj/
/CodeBase/CodeBase.Web.Host/bin/

/CodeBase/Codebase.EntityFrameworkCore/obj/
/CodeBase/CodeBase.EntityFrameworkCore/bin/

/CodeBase/Codebase.Core/obj/
/CodeBase/CodeBase.Core/bin/

/CodeBase/Codebase.Service/obj/
/CodeBase/CodeBase.Service/bin/